header {
    text-align: center;
    padding: 20px;
    color: antiquewhite;
    background-color: black;
    text-decoration: underline;
}

nav {
    display: flex;
    justify-content: flex-end;
    color: black;
    background-color: darkgrey;
}

nav a {
    padding: 10px;
    display:flex;
    flex-direction: row;
}

aside {
    display:flex;
    flex-wrap: wrap;
    align-items: flex-start;
    color: red;
    margin-left:100px;
    flex-direction: column;
    width: fit-content;
}

section p {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    color: white;
    padding-left:20px;
    width:400px;
    height:200px;
}

footer {
    padding: 10px;
    background-color: darkgray;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer p {
    padding: 15px;
    color: black;
}

.aside {
    display:flex;
    justify-content: flex-start;
    color:red;
    padding: 10px;
    margin: 10px;
    height: 100%;
}

.selfi {
    max-width: 15%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid red;
    padding: 5px;
}

.bio {
    display: flex;
    flex-direction: row;
    background-color: black;
    width: fit-content;
}

.work1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: black;
    width: 100%;
    padding: 15px 0 50px 50px;
    border-left: 2px solid red;
    width: fit-content;
}

.justify {
    justify-content: center;
}

.place {
    height: 290px;
    width: 290px;
    margin: 4px;
    border: 1px solid red;
}

#challenge1 {
    height: Auto;
    width: 590px;
}

#main {
    background-color: black;
    display: flex;
    flex-direction: row;
}

#work {
    width: 610px;
}

#box1, #box2, #box3 {
    height: 400px;
}

div a:hover {
    opacity: 75%;
}

div a::before {
    content: "Challenge-1";
    color: red;
    background-color: white;
    position:absolute;
}

div p::before {
    content: "Bio";
    color: red;
    text-decoration: underline;
}